<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Webpack test</title>
</head>
<body>
<div id="app">
  <p>{{ userAgent }}</p>
  <p>{{accountingDefoult}}</p>
  <p>{{accounitingUro}}</p>
  <p>{{accountingNumber}}</p>
  <p>{{AccountingSTr}}</p>
  <p>{{accountingOptions}}</p>
  <ul>
    <li v-for="accountingArray in accountingArray">{{accountingArray}}</li>
  </ul>
  <p>{{fixed}}</p>
  <p>{{formatColumn}}</p>

  <input type="text" v-model="inputNumber">
  <p>{{computedText}}</p>
a


</div>

<script type="text/javascript" src="./dist/js/bundle.js?"></script>
</body>
<html>
